DATABASE_URL=postgresql://localhost:5432/slidex
OLLAMA_HOST=http://localhost
OLLAMA_PORT=11434
LOG_LEVEL=DEBUG

### For local deployment with vLLM
VLLM_RERANKER_ENABLED=true
VLLM_RERANKER_URL=http://localhost:8182/v1/rerank
VLLM_RERANKER_MODEL=BAAI/bge-reranker-v2-m3
